<form class="form-horizontal" ng-submit="add()">
    <fieldset>
        <legend>Add a bookmark</legend>
        <div class="control-group">
            <label class="control-label" for="add-title">Title</label>

            <div class="controls">
                <input id="add-title" name="title" type="text" placeholder="A title"
                       ng-model="newBookMark.title"/>
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label" for="add-url">URL</label>

            <div class="controls">
                <input id="add-url" name="url" type="url" placeholder="www.cacodaemon.de" required
                       ng-model="newBookMark.url"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
        </div>
    </fieldset>
</form>